<style>
    #stage-panel {
        /*position: absolute;*/
        /*width: 950px;*/
        /*left: 100px;*/
        /*top: 80px;*/
        /*opacity: .8;*/
        zoom: 2;
    }
</style>
<div id="stage-panel" class="card-panel grey lighten-3" v-if="op">
    <!--<div class="row">-->
    <!--<div class="col" v-for="playerInfo in playerInfoArr">-->
    <!--<div class="col" style="width: 85px">-->
    <!--<img src="/img/panel/stage/blue.png" id="playerImg{{$index}}" style="width: 80px">-->
    <!--<input id="player{{$index}}" type="text" @keyup.enter="onQueryPlayer($index)" style="width: 75px">-->
    <!--<input id="playerNum{{$index}}" type="text" @keyup.enter="onUpdatePlayerNum($index)"-->
    <!--style="width: 35px">-->
    <!--<a class="waves-effect waves-light btn" style="width: 75px;height: 25px"-->
    <!--@click="onUpdatePlayer($index)">↓</a>-->
    <!--<p>-->
    <!--<input name="mvp" type="radio" id="mvp{{$index}}" value="{{$index}}" v-model="mvpIdx"/>-->
    <!--<label for="mvp{{$index}}">mvp{{$index}}</label>-->
    <!--&lt;!&ndash;<input id="eloScore{{$index}}" type="text" @keyup.enter="onSetEloScore($index)" style="width: 75px">&ndash;&gt;-->

    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="row">
        game id:{{gameId}}
        ````````````````````````````````````````
        <a class="waves-effect waves-light btn"
           @click="onStarting">starting line</a>
        <a class="waves-effect waves-light btn"
           @click="onUpdateBackNum">back num</a>
        ````````````````````````````````````````
    </div>
    <div class="row" style="display: inline-flex">
        <div class="switch">
            <label>
                pause
                <input type="checkbox" @click="onToggleTimer">
                <span class="lever"></span>
                start::::::::
            </label>
        </div>
        <a class="waves-effect waves-light btn" @click="onResetTimer" style="height: 35px">Reset</a>
    </div>
    <div class="row">
        <a class="waves-effect waves-light btn" @click="onAddLeftScore">Left++</a>
        <a class="waves-effect waves-light btn" @click="onMinLeftScore">Left--</a>
        <a class="waves-effect waves-light btn" @click="onAddLeftFoul">Foul++</a>
        <a class="waves-effect waves-light btn" @click="onMinLeftFoul">Foul--</a>
        <input type="checkbox" id="test5"/>
        <label for="test5">///////不限制分数\\\\\\\</label>
        <a class="waves-effect waves-light btn" @click="onMinRightScore">Right--</a>
        <a class="waves-effect waves-light btn" @click="onAddRightScore">Right++</a>
        <a class="waves-effect waves-light btn" @click="onMinRightFoul">Foul--</a>
        <a class="waves-effect waves-light btn" @click="onAddRightFoul">Foul++</a>
    </div>
    <div class="row">
        <a class="waves-effect waves-light btn" @click="onShowWin">Show Win</a>
        <a class="waves-effect waves-light btn" @click="onHideWin">Hide Win</a>
        <a class="waves-effect waves-light btn" @click="onSubmitGame">Submit Game</a>
        <a class="waves-effect waves-light btn" @click="onRefresh">Refresh</a>
    </div>

    <div class="row">
        <a class="waves-effect waves-light btn" @click="onComingActivity">Coming Act</a>
    </div>
</div>
<div style="display: none">
    <img src="/img/panel/stage/win/playerBgWinBlue.png">
    <img src="/img/panel/stage/win/playerBgWinBlueMvp.png">
    <img src="/img/panel/stage/win/playerBgWinRed.png">
    <img src="/img/panel/stage/win/playerBgWinRedMvp.png">
    <img src="/img/panel/stage/win/winPanelTitleBlue.png">
    <img src="/img/panel/stage/win/winPanelTitleRed.png">
    <img src="/img/panel/stage/win/fengWin.png">
    <img src="/img/panel/stage/win/huoWin.png">
    <img src="/img/panel/stage/win/shanWin.png">
    <img src="/img/panel/stage/win/linWin.png">
    <img src="/img/panel/stage/newPlayer.png">
</div>